.password-wrapper {
    position: relative;
}

.password-input {
    padding-right: 35px;
}

.password-icon {
    position: absolute;
    right: 10px;
    top: 17px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
    z-index: 10;
    font-size: 16px;
    background: transparent;
}

.password-icon:hover {
    color: #333;
}

.input-control.is-invalid ~ .password-icon {
    right: 32px;
}