.stock-adjustment-creation .is-primary {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: end;
    gap: 0.5em;
    width: 100%;
    padding-left: 0.5em;

    button.filters {
        width: fit-content;
        grid-column: 1;
    }

    .form-inline {
        grid-column: 2;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        align-items: flex-end;
        flex: 1;
        justify-content: flex-end;
    }

    quantity-unit-toggle {
        grid-column: 3;
        align-self: center;

        label {
            margin-bottom: 0;
        }
    }

    .search-form {
        > fieldset {
            display: none;
        }
    }

    @media (max-width: 75em) {
        button.filters {
            grid-column: 1;
            grid-row: 1;
        }

        .form-inline {
            grid-column: 1;
            grid-row: 2;
            justify-content: flex-start;
        }

        quantity-unit-toggle {
            grid-column: 1;
            grid-row: 3;
        }
    }
}

.openlmis-table-container {
    > .is-primary,
    > quantity-unit-toggle {
        display: inline-block;
        vertical-align: bottom;
    }
}