
.header > .openlmis-header > .title,
.header > .openlmis-header.is-offline > .title {
	background-image: url('../assets/branding-rdc/logo-header-3.png') !important;
	background-size: auto 56px;
	display: flex;
	align-items: center;
	text-indent: 0;
	overflow: visible;
	padding: 0 0 0 270px;
	font-size: 16px;
	color: black;
	flex: 0 0 950px;
	margin-right: auto;
	height: 66px;
	align-content: center;
}

.header > .openlmis-header > .title::before,
.header > .openlmis-header.is-offline > .title::before {
    content: "LOGIMEV";
    font-family: "Amasis MT Pro Black", "Amasis MT Pro", serif;
    display: block;
    color: #007fff;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    margin-right: 16px;
}

.header > .openlmis-header {
    padding: 0 2em;
}

.header > .openlmis-header.is-offline > .title {
	color: $white;
}

.auth-modal .modal-body {
	background-image: url('../assets/branding-rdc/logo-header-1.png') !important;
	background-size: 320px !important;
	background-position: $space-size*2 80px !important;
	min-height: 258px + $space-size !important;
}

.auth-modal .modal-content {
  background-image: radial-gradient(at 100% 20%, #007FFF 0px, #0000 50%),
  radial-gradient(at 0% 100%, #F7D618 0px, transparent 50%),
  radial-gradient(at 0% 20%, #CE1021 0px, transparent 50%),
  radial-gradient(at 100% 100%, #007FFF 0px, transparent 50%) !important;
}

.auth-modal .modal-body::after {
    content: "LOGIMEV";
    font-family: "Amasis MT Pro Black", "Amasis MT Pro", serif;
    position: absolute;
    top: 180px;
    left: 56px;
    color: #007fff;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
}

.auth-modal .modal-body::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url('../assets/branding-rdc/logo-map.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: -110px;
}

.auth-modal .modal-body > form {
  margin-top: 10%;
  margin-left: auto;
  width: 330px;
}

.auth-modal .modal-header > h1 {
  color: black;
  font-size: 18px;
}

.auth-modal .modal-header .navbar-nav > button {
  min-width: 100px;
}

.auth-modal .modal-body #forgotPasswordLink {
  color: black;
}

.auth-modal .modal-body #login-button {
  background: #333;
  background-image: unset;
}

.auth-modal .modal-footer > a {
  color: black;
}